In [1]:
import pandas as pd

In [2]:
# Using the ridership data with station name as column names
# and inded argument to add dates as row indexes
ridership_df = pd.DataFrame({
    'R003': [0, 1478, 1613, 1560, 1608, 1576, 95, 2, 1438, 1342],
    'R004': [0, 3877, 4088, 3392, 4802, 3933, 229, 0, 3785, 4043],
    'R005': [2, 3674, 3991, 3826, 3932, 3909, 255, 1, 3589, 4009],
    'R006': [5, 2328, 6461, 4787, 4477, 4679, 496, 27, 4174, 4665],
    'R007': [0, 2539, 2691, 2613, 2705, 2685, 201, 0, 2215, 3033]
}, index=[
    '05-05-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
    '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'
])

In [3]:
ridership_df

          R003  R004  R005  R006  R007
05-05-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4679  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [4]:
# Use .loc to access rows by their indexes
# This will give second row of the dataframe
ridership_df.loc['05-02-11']

R003    1478
R004    3877
R005    3674
R006    2328
R007    2539
Name: 05-02-11, dtype: int64

In [5]:
# use .iloc to acess rows by position
# to access the last row of the dataframe
ridership_df.iloc[9]

R003    1342
R004    4043
R005    4009
R006    4665
R007    3033
Name: 05-10-11, dtype: int64

In [6]:
# To access a single element, you can use .iloc
ridership_df.iloc[0, 3]

5

In [7]:
# Can also use .loc can specifiy a date and unit and get
# corresponding data
ridership_df.loc['05-04-11', 'R004']

3392

In [8]:
# You can also access columns using square brackets
ridership_df['R006']

05-05-11       5
05-02-11    2328
05-03-11    6461
05-04-11    4787
05-05-11    4477
05-06-11    4679
05-07-11     496
05-08-11      27
05-09-11    4174
05-10-11    4665
Name: R006, dtype: int64

In [9]:
# Can also use .values to get a 2D NumPy array containing only values
# Be careful of data types if you do this
ridership_df.values

array([[   0,    0,    2,    5,    0],
       [1478, 3877, 3674, 2328, 2539],
       [1613, 4088, 3991, 6461, 2691],
       [1560, 3392, 3826, 4787, 2613],
       [1608, 4802, 3932, 4477, 2705],
       [1576, 3933, 3909, 4679, 2685],
       [  95,  229,  255,  496,  201],
       [   2,    0,    1,   27,    0],
       [1438, 3785, 3589, 4174, 2215],
       [1342, 4043, 4009, 4665, 3033]])

In [10]:
# One reason you'd do this if if you take the mean of all the values.
ridership_df.values.mean()

2336.5999999999999